/* Standard Colors Defined here*/

red{
    color:red;
}

lightpink{
    color: lightpink;
}

cyan{
    color: cyan;
}

blue{
    color:blue;
}

lightskyblue{
    color:lightskyblue;
}

voilet{
	color:violet;
}

black{
    color:black;
}

green{
    color:green;
}

lightgreen{
    color:lightgreen;
}
