#logo {
    min-height: 30px;
    min-width: 60px;
}

#background {
    height: 100%;
}

ul#background-images,
ul#mobile-background-images {
    margin: 0;
    padding: 0;
}

ul#background-images li {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

ul#mobile-background-images li {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.navigator {
    overflow: auto;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0.3;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.navigator:hover {
    opacity: 1;
    cursor: pointer;
}

.navigator.left-nav {
    background-image: url(images/left.png);
    background-position: 10% center;
}

.navigator.right-nav {
    background-image: url(images/right.png);
    background-position: 90% center;
}

/** AD TWO COLUMN / AD OVERLAY TEXT **/

.custom-content-banner {
    border: none;
    height: 122px;
    margin-bottom: 5px;
    background: #fff;
    display: inline-block;
    width: 100%;
}

#custom-adtwocolumn-panel {
    width: 100%;
}

#custom-adtwocolumn-panel .custom-img {
    height: 122px;
    float: left;
    width: 45%;
    display: inline-block;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#custom-adoverlaytext-panel {
    width: 100%;
}

#custom-adoverlaytext-panel .custom-banner-img {
    height: 122px;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.custom-wrapper-1 {
    padding: 5px;
}

.custom-div {
    height: 102px;
    float: left;
    display: inline-block;
    padding: 5px;
    margin: 0;
    width: 50%;
}

.custom-banner-link-wrap {
    text-align: center;
}

.custom-banner-link a {
    text-decoration: none;
    color: #000;
    font-size: 13px;
}

.custom-banner-link {
    text-align: center;
    background-color: #737373;
    color: #000;
    border: none;
    margin: 4px 2px;
    cursor: pointer;
    padding: 5px 10px;
    display: inline-block;
}

.custom-banner-content {
    overflow: hidden;
    word-break: break-word;
}

.custom-content-banner {
    font-size: 12px;
}

/** SLIDER **/
.slider-holder, .slider-holder > * {
    direction: ltr !important;
}

.slider-holder {
    display:none;
	padding: 0;
    background: url(images/slider.png) no-repeat 0 0;
    background-size: 100%;
    z-index: 1000;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
	max-width: 380px;
	width: 100%;
	margin: 0 auto;
}

.slider-holder .flexslider {
	padding: 10px 10px 30px 10px;
    position: relative;
}

.slider-holder .flexslider ul.slides {
    list-style: none;
    list-style-position: outside;
    position: relative;
}

.slider-holder .flexslider ul.slides li {
    width: 100%;
    /*height: 293px;*/
    float: left;
}

.flex-control-nav {
	bottom: 3px;
}

.slider-holder .flexslider ul.slides li img {
    width: 100%;
}

/** LANGUAGE DROP-DOWN STYLE **/

.dropbtn {
    background-color: transparent;
    color: #777;
    border: none;
    cursor: pointer;
}

.dropbtn:after {
    content: " \f078";
    white-space: pre;
    font-family: FontAwesome;
    color: #777;
    font-weight: 100;
    font-size: 10px;
}

.dropdown {
    background-blend-mode: inherit;
    z-index: 999;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    z-index: 999;
    border: 2px solid #777;
}

.dropdown-content a {
    font-size: 14px;
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

