@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
:root{
  --mdc-theme-primary: black !important; 
  --mdc-theme-secondary: #ffa000;
  --mdc-theme-error: #d82653;

  --collapsible-transition-fn: ease;
  --collapsible-transition-duration: 0.3s;
  --collapsible-padding: 0.6rem;
  
  --primary-color: black;
}

.main-content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  flex:1 1 auto;
}
.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  flex: 1 1 100%;
  justify-content:center ;
  align-items: center;
}

body, html {
  background-color: #eee; 
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height:100%;
  margin: 0px;
}

p {
  font-size: 14px;
}

.bold {
  font-style: normal;
  font-weight: 700;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--primary-color);
}

.mdc-top-app-bar{
  position: relative !important;
  box-shadow: 0px 2px 13px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.footer{
  font-size: 16px;
  min-width: 22rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  font-weight: bold;
}
.app-header{
  padding-left: 16px !important;
  padding-top: 8px !important;
}

header {
  min-width: 22rem;
}

.mdc-tab {
  border: 1px solid #e8e4e4;
  height: 52px;
}

.chat-fab-button {
  position:fixed; 
  bottom: 10%; 
  right: 5%;
}

.page-title-faq {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* css for card */
.card{
  height: fit-content;
  max-width: 32rem;
  min-width: 32rem;
  margin: 8px 8px
}

.card-content{
  padding: 0px 16px 8px;
}

.card-title{
  margin: 0px;
  font-size: 24px;
  font-weight: 500;
}

.card-subtitle{
  font-size: 14px;
  margin: 8px 0px;
}
.card-info{
  display: flex;
  flex-direction: row;
  text-align: justify;
  align-items: center;
  margin: 8px 8px;
}
.text-justify {
  text-align: justify;
}
.card-media{
  margin:8px !important;
}

/* css for buttons */
.buttons{
  display: flex; 
  justify-content: center; 
  flex-direction: column;
}
.button{
  margin-top: 16px;
  height: 50px !important;
}
.linkBtn {
  width:100%;
  text-decoration: none;
}
.dialog-box-close-btn{
  margin: 8px;
}
/*css for the forgot password button*/
.link {
  display: flex;
  flex-direction: row-reverse;
}
.link a {
  text-decoration: none;
  padding: 8px;
}

/*css for the setting input field */
label {
  width: 100%; 
  margin: 8px auto;
}
.mdc-text-field__affix{
  color: black !important;;
  padding-right: 8px;
}
.mdc-text-field__icon{
  margin:auto 8px;
}

.dialog-content {
  overflow-y: scroll !important;
  scroll-behavior: smooth;
  overscroll-behavior-y: contain;
}

/*css for the display error message*/
.is-invalid {
  display: block;
  color: red;
  margin-left: 20px;
  font-size: small;
}

.is-hint {
  display: block;
  color: blue;
  margin-left: 20px;
  font-size: small;
}
.is-valid {
  display:none;
}

/* css for change tab content */
.content {
  display: none;
}
.content--active {
  display: block;
}

.text-center{
  text-align: center;
}
.add-img{
  width:100%;
  height:auto;
}

.terms-privacy-div {
  font-size: 16px;
  line-height: 25px;
}

.after-otp-section {
  display: none;
}

/* css for show spinner after connected */
@keyframes spinner {
  0% {
  transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
  transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
.spin::before {
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 5px #cfd0d1;
  border-bottom-color: #000000;
  border-radius: 50%;
  content: "";
  height: 40px;
  width: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
}
 
/* rating styles */
.rating-box {
  padding: 8px 0px;
  font-weight: bold;
  text-align: center;
}

.rating-container {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 15px;
}

.stars i {
  font-size: 35px;
  color: #b5b8b1;
  transition: all 0.2s;
  cursor: pointer;
}
.stars i.active {
  color: #ffb851;
  transform: scale(1.2);
}

.like-dislike {
  display:flex;
  flex-direction: column;
  align-items: center !important;
}
.like-dislike i {
  font-size: 60px;
  color: #b5b8b1;
  cursor: pointer;
}

.smily i {
  font-size: 50px;
  cursor: pointer;
}

.smily-1{
  flex-direction: column;
}

.like-dislike i:nth-child(1){
  margin-right: 50%;
}
.like-dislike i:nth-child(2){
  margin-left: 50%;
}

.smily-emoji-images{
  display:flex; 
  flex-direction: row;
  align-items:start; 
  cursor:pointer; 
  font-size:20px;
  font-weight: 500;
  gap:5px; 
}

.smily-emoji-container{
  display: flex;
  flex-direction: row;
  gap:5px;
  align-items: center;
}

.emoji-separator:nth-child(1), .emoji-separator:nth-child(2){
  font-size: 40px;
  margin:5px;
}

.icons{
  display: flex;
}

.rating-text {
  font-size: medium;
}

/* Styling of expantion panel */
.collapsible-header {
  width: 100%;
  border: none;
  padding: var(--collapsible-padding);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1.0rem;
  cursor: pointer;
  text-align: initial;
}
.faq-title {
  margin: 8px 0px;
}
.faq-arrow {
  font-size: 2em;
}
.faq-arrow-rotate {
  transform: rotate(90deg);
  transition: transform var(--collapsible-transition-duration) var(--collapsible-transition-fn);
}
.collapsible-header + * {
  max-height: 0;
  margin-bottom: 0.2rem;
  background-color: #fff;
  overflow-y: hidden;
  will-change: max-height;
  transition: max-height var(--collapsible-transition-duration) var(--collapsible-transition-fn);
}
.collapsible-content {
  padding: var(--collapsible-padding);
}
.collapsible-header-text {
  padding: 5px;
  margin-right: 8px;
}


/* Styling for the chat interface */
.chatbot-interface {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #eee;
  border-radius: 1rem;
  min-height: 35rem;
}

.chatbot-chat{
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 1rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
}

.chatbot-messages {
  padding: 1rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  border-radius: 1rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  width: fit-content;
}
.chatbot-messages p {
  word-break: break-all;
}

.chatbot-received-messages {
  background: radial-gradient(ellipse farthest-corner at right bottom, #ffa000 100%, transparent 100%),
    radial-gradient(ellipse farthest-corner at left top, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  filter: grayscale(0.3);
  border-top-left-radius: 0rem;
}

.chatbot-sent-messages {
  color: #ffffff;
  background-color: #000000;
  border-top-right-radius: 0rem;
  margin-left: auto; 
  margin-right: 0;
}

.chatbot-footer {
  padding: 0px 2rem 2rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.chatbot-input-container{
  width: calc(100%);
}

.chatbot-input {
  width: calc(100% - 2rem);
  padding: 0.5rem;
  color: #000000;
  background-color: #ffffff;
  border: 0.1rem solid #000000;
  border-radius: 1rem;
}

.chatbot-input:focus {
  outline-offset: 0px !important;
  outline: none !important;
  border: 0.1rem solid #8A6E2F;
}

.chatbot-new-message-send-button{
  cursor: pointer;
}
.send-icon {
  color: #000000;
}

.session-left-text {
  font-size: medium;
  text-align: justify;
}

@media (min-width: 600px) {
  .mdc-dialog.mdc-dialog--fullscreen .mdc-dialog__surface {
    max-width: 600px;
    min-height: 500px;
    max-height: 100%;
  }
}
@media (max-width: 400px) {
  .mdc-tab {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (max-width: 600px) {
  .card{
    min-width: 22rem;
  }
}

.tab-lables :nth-child(1) {
  margin: 8px auto
}
.tab-lables :nth-child(2) {
  margin: 0px auto 8px;
}

.browser-not-support {
  display:flex;
  align-items: center;
  justify-content: center;
  color:red;
  text-align: center;
  font-weight: bold;
  font-size: larger;
  min-height: 100vh;
}

.paid-wifi-button {
  background: linear-gradient(45deg, #ffa000, #000000);
  color: #ffffff;
 
}
.paid-wifi-buttons-container {
  display: none;
}